@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
  /*background: #7D6B91;*/
  padding: 20px;
  background:#0d1e3a;
  color: white;
  text-align: center;
  font-family: 'Poppins',sans-serif ;
}
h1{
  font-size: large;
}
p{
  font-size: small;
 
}

a{
  text-decoration: snow;
  color: antiquewhite;
  
  
 
}


.profile-img{
 width: 50%; 
 border-radius:40%;
}
.btn{
  display: block;
  color: black;
  padding: 20px;
  background: white;
  margin: 16px;
  box-shadow: 10px 10px lightblue;
}